<div class="modal-header">
  <h3 class="modal-title">Manage permissions</h3>
</div>
<div class="modal-body">
  <p>Here you can manage which users have access</p>
  <p><strong>Device Name: </strong>{{device.name}}</p>
    <div class="row">
      <div class="form-group col-md-6" ng-init="loadUsers()">
        <!-- <label for="username">Permit to:</label> -->
        <input type="text" placeholder="Search user" class="form-control" ng-model="searchUser" typeahead-on-select="addUser($item)" placeholder="Type in a name" typeahead="user as user.name for user in allUsers | filter:$viewValue | orderBy: user.name" typeahead-template-url="/angular-app/partials/search-user-template.html" />
        <p ng-show="isAlreadySelected">User already selected</p>
      </div>
      <div class="col-md-6">
        <label>Allow access to: </label>
        <table class="table" ng-show="showUsers">
          <tr ng-repeat="user in device.users">
            <td>{{user.name}}</td>
            <td><a href ng-click="removeUser(user)" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
          <tr ng-repeat="user in newUsersToAdd" ng-show="user.show">
            <td>{{user.name}}</td>
            <td><a href ng-click="removeUser(user)" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
        </table>
        <div cg-busy="usersGet"></div>
      </div>
    </div>
</div>    
<div class="modal-footer">
  <button class="btn link-button" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn blue-btn" ng-click="setPermissions()">Set permissions</button>
</div> 