<div class="login">
  <h3 class="">Set a new password for your account:</h3>
  <form name="resetPasswordForm" novalidate>
    <div class="form-group" show-errors>
      <label for="token">Recovery code</label>
      <input class="form-control" type="text" name="token" ng-model="user.token" id="token" required />
      <small>This is the recovery code you received through email</small>
    </div>
    <div class="form-group" show-errors>
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" ng-model="user.password" id="password" required />
    </div>
    <div class="form-group" show-errors>
      <label for="password_confirm">Confirm password</label>
      <input class="form-control" type="password" name="password_confirm" password-match="user.password" ng-model="user.password_confirm" id="password_confirm" required />
    </div> 
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-disabled="resetPasswordForm.$invalid" ng-click="resetPassword()">Change</button>
  </form>
</div>