<div class="container-fluid">
  <div class="row">
    <h3>User Profile <small><a ui-sref="user.edit({username:user.username})">Edit</a></small></h3>
    <div class="col-md-6">    
      <p><strong>Name:</strong> {{user.name}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>    
      </div>
    <div class="col-md-6">
      <p><strong>User:</strong> {{user.username}}</p>
      <p><strong>Type:</strong> {{user.group}}</p>   
    </div>
  </div>
  <div class="row" ng-if="showDevices" ng-cloack>
    <h4>Allowed Devices and Folders</h4>
    <p>List of devices and folders that you have access to</p>
    <div class="col-md-4">
      <p><strong>Owner</strong></p>
      <ul ng-hide="user.permittedDevices['owner'].length==0">
        <li ng-repeat="node in user.permittedDevices['owner']">
          <a href ng-click="viewNodeDetail(node)" title="View details"><i class="fa" ng-class="{'fa-file-text-o':node.type!='location','fa-folder-o':node.type=='location'}"></i> {{node.name}}</a>
        </li>
      </ul>
      <p ng-show="user.permittedDevices['owner'].length==0">No devices or folders in this category</p>
    </div>
    <div class="col-md-4">
      <p><strong>Publisher</strong></p>
      <ul ng-hide="user.permittedDevices['publisher'].length==0">
        <li ng-repeat="node in user.permittedDevices['publisher']">
          <a href ng-click="viewNodeDetail(node)" title="View details"><i class="fa" ng-class="{'fa-file-text-o':node.type!='location','fa-folder-o':node.type=='location'}"></i> {{node.name}}</a>
        </li>
      </ul>
      <p ng-show="user.permittedDevices['publisher'].length==0">No devices or folders in this category</p>
    </div>
    <div class="col-md-4">
      <p><strong>Subscriber</strong></p>
      <ul ng-hide="user.permittedDevices['subscribe'].length==0">
        <li ng-repeat="node in user.permittedDevices['subscribe']">
          <a href ng-click="viewNodeDetail(node)" title="View details"><i class="fa" ng-class="{'fa-file-text-o':node.type!='location','fa-folder-o':node.type=='location'}"></i> {{node.name}}</a>
        </li>
      </ul>
      <p ng-show="user.permittedDevices['subscribe'].length==0">No devices or folders in this category</p>
    </div>
  </div>
</div>